@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


body{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0; /* pour éviter les marges */
    padding: 0;
}


h1, h2, h3, p{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}   

#background{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* style for center-text */


.line{
    background-color: black;
    width: 50%;
}
#center-text{
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#menu{
    display: flex;
    
}

#enseirb{
    text-align: center;
}

#stats{
    margin-right: 60px;
    font-size: 3.5vw;
}

#reseaux{
    margin-left: 20px;
    font-size: 3.5vw;
}

#enseirb{
    font-size: 1.7vw;
}

/* left side */

#basalt_left{
    position: absolute; /* postulat de départ */
    top: 40%; left: -15%;
    transform: rotate(-90deg);
    font-size: 500%;
    border: 7px solid black;
    padding-left: 2%;
    letter-spacing: 10px;
    padding-right: 2%;
}

#basalt_right{
    position: absolute; /* postulat de départ */
    top: 40%; right: -15%;
    transform: rotate(90deg);
    font-size: 500%;
    padding-left: 2%;
    letter-spacing: 10px;
    padding-right: 2%;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

a:hover{
    color: grey;
}


#triangle-code{
    position: absolute;
    z-index: -2;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 30vh solid #B0C3F8;
    border-right : 15vw solid transparent;
    border-left : 53vw solid transparent;
    top: 40vh;
    left: 10vw;
}

#brush{
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 500px;
}

#moon1{
    position: absolute;
    opacity: 31%;
    left: 10vw;
    top:  -10%;
    width: 20%;
    height: auto;
}

#moon2{
    position: absolute;
    opacity: 31%;
    bottom: 2.5vh;
    right: 2.2vw;
    width: 20%
}

#rectangle {
    z-index: -3;
    position: fixed;
    width: 96vw;
    height: 95vh;
    top: 3%;
    left: 2%;

    background: white no-repeat;
    background-size: cover;
  }
   