body {
    overflow-y: hidden; 
    overflow-x: hidden; 
    margin: 0; 
    padding: 0;
}

#background{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#rectangle {
    z-index: -3;
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    top: 20px;
    left: 20px;

    background: white no-repeat;
    background-size: cover;
}

canvas {
    display: block;
}


#particles-js {
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    top: 20px;
    left: 20px;
}

#popup{
    position: absolute;
    top: 30px;
    left:30px;
    height: 200px;
    width: 300px;
    display: none;
    background-image: url(/images/background.jpg);
    opacity: 80%;
    border-radius: 10%;
    color: white;
}