@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');




body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0; /* pour éviter les marges */
    padding: 0;
    background-color: beige;
}

h1, h2, h3, p{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#graph1{
    width: 40% !important;
    height: 40% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
   
}

#graph2{
    display: inline !important;
    width: 20% !important;
    height: 20% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
}





#screen{
    border: solid 5px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 50%;
    padding: 2%;
}

#title{
    text-align: center;
    margin-top: 50px;
}


#nodes > h1{
    margin-top: 100px;
}

/* button part */


#but{
    display: flex;
    position: sticky;
    justify-content: space-around;
    margin-top: -5%;
    padding: 104px;
    margin-left: 50px;
}
button{
    padding: 1rem 4rem;
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 1px 1px 14px black;
    border: none;
    transition: background-color 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
}




button:hover{
    background-color: blanchedalmond;
    box-shadow:  1px 1px 25px black;
}




/* end button part */ 


a{
    text-decoration: none;
    color: black;
}

h3{
    margin-left: 90%;
    margin-top: 1%;
}

    
#basalt_left{
    position: absolute; /* postulat de départ */
    top: 42%; left: -29vh;
    transform: rotate(-90deg);
    font-size: 11vh;
    border: 7px solid black;
    padding-left: 2vh;
    letter-spacing: 1.5vh;
    padding-right: 2vh;
}

#nodes{
    margin-left: 20%;
}

table
{
    border-collapse: collapse;
    display: inline !important;
}
td
{
    
    border-top: 1px solid black;
    padding: 20px;
    font-size: 150%;
}



.containeur{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* header nav style */


span {
    display: block;
    height: 50px;
    text-align: center;
    font-size: 50%;
    font-family: 'Lato';
    margin-left: 70%;
    z-index: 2;
   
}

.overlay {
  
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;

    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 30%; 
    width: 100%;
    text-align: center; 

}


.myForm > label {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; 
    transition: 0.3s; 
}

#submit{
    background-color: transparent;
    color: white;
    width: 450px;
    font-size: 26px;
}

/*.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}*/


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#open:hover{
    color: #818181;
}


