extends layout

block title
    title Basalt Serveur Supervision

block body
    div
        img#background(src="/images/background.jpg")
        img#rectangle(src="/images/vintage.png")

    #center-text
        #menu
            a(href="#")
                h1#stats Statistiques
            a(href="#")
                h1#reseaux Réseau
        hr.line
        h2#enseirb ENSEIRB-MATMECA
    // #triangle-code
