extends layout

block style
    style
        include ../style/homepage.css

block title
    title Basalt Serveur Supervision

block body
    div
        img#background(src="/images/background.jpg")
        img#rectangle(src="/images/vintage.png")

    #center-text
        #menu
            a(href="stats")
                h1#stats Statistiques
            a(href="network")
                h1#reseaux Réseau
        hr.line
        h2#enseirb ENSEIRB-MATMECA
    #triangle-code

    div
        img#brush(src="/images/brush.png")
        img#moon1(src="/images/moon.png")
        img#moon2(src="/images/moon.png")

    #left-side
        h1#basalt_left BASALT APP
    #right-side
        h1#basalt_right BASALT APP
        
    div 
        #particles-js

    
