<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/homepage.css">
    <title>Document</title>
</head>
<body>

    <div id="rectangle"></div>
    
    <div id="center-text">
        <div id="menu" >
            <a href="#"><h1 id="stats">Statistiques</h1></a>
            <a href="#"><h1 id="reseaux">Réseau</h1></a>
        </div>
        <hr class="line">    
        <h2 id="enseirb">ENSEIRB-MATMECA.</h2>
    </div>
    <div id="triangle-code"></div>

    <img id="brush" src="../public/images/brush.png" alt="brush">
    <img id="moon1" src="../public/images/moon.png" alt="moon">
    <img id="moon2" src="../public/images/moon.png" alt="moon">

    <div id="left-side"><h1 id="basalt_left"><span>BASALT APP</span></h1></div>
    <div id="right-side"><h1 id="basalt_right"><span>BASALT APP</span></h1></div>
    
    <div id="particles-js" class="background"></div>
    <script src="../public/particles.js"></script>
    <script src="../public/particles.min.js"></script>
    <script src="../public/app.js"></script>
</body>
</html>