extends layout

block title
    title Bienvenue sur le serveur de métrique

block body
    nav.navbar.navbar-expand-lg
        .container-fluid
            a.navbar-brand
            a.position.navbar-brand Network Supervisor

            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
