doctype html
html(lang="fr")
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content='')
            style
                include ../style/homepage.css
        block title
            title Titre standard
    body
        block body