extends layout 

block style
    style
        include ../style/network.css

block title
    title Basalt Serveur Supervision

block body 

    div
        img#background(src="/images/background.jpg")
        img#rectangle(src="/images/vintage.png")

    #popup 
        p In a pop up div

    canvas#particles-js
    script(src='particlesNetwork.js')
    script(src="networkInfo.js")