extends layout

block style
    style
        include ../style/stats.css   
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
     
block title
    title Basalt Serveur Supervision

block body

    header 
        a(href="accueil")
            h3 Accueil

        

      

    h1#title Statistiques Basalt APP

    h1#basalt_left BASALT APP

    div#screen
        canvas#graph1 
        div#myNav.overlay
            a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
            .overlay-content


                form(action='' method='get')
                    .myForm
                        label(for='nbNoeuds') Nombre de noeuds
                        br
                        input#nbNoeuds(type='number' name='nbNoeuds' min='1' max='100')
                    .myForm
                        label(for='vue') Taille de la vue
                        br
                        input#Vue(type='number' name='vue' min='2' max='6')
                    .myForm
                        label(for='vue') Nombre de noeuds malicieux
                        br
                        input#nbMalicieux(type='number' name='nbMalicieux' min='0' max='100')
                    .myForm
                        br
                        input#submit(type='submit' value='Effectuer les changements')

        span#sub_header(onclick='openNav()')
            h1#open Ouvrir les options  

    

    div#nodes 
        h1 Noeud numéro : 
        div.containeur
            table
                tr
                    td 
                        b Age
                    td 12
                    td 14
                    td 2
                    td 12
                tr
                    td 
                        b Vue
                    td N1
                    td N4
                    td N18
                    td N54
            canvas#graph2

        
    

    div#cont
        div#but
            button#prev noeud précédent
            button#global Statistiques globales
            button#next  noeud suivant



        


    script(src='https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js')
    script(src='graphs.js')
    