canvas {
  margin: auto;
  position: fixed;
}
body {
  margin: auto; padding: 40px; width: 80%; overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
}
h1 {
    font-size: 20pt;
}

h4 {display: inline-block;}

#nodesInfo {
  float:right;
}

.nodeInfo {
  width: fit-content;
  margin-bottom: 20px;
  background: #2ecc71;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 5px;
  max-width: 600px;
}
.nodeInfo h3 {display: inline-block; margin-left: 20px;margin-bottom: 20px;}
.nodeInfo p {display: inline-block; font-size: 11pt;}
.nodeInfo table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.nodeInfo table th, .nodeInfo table td {
  text-align: center;
  padding-left: 5px; padding-right: 5px;
  height: 40px;
  background: white;
}
.nodeInfo table td:not(:last-child){border-right: 1px solid #b7b7b7;}
.nodeInfo table tr {border-top: 1px solid #b7b7b7;}
.nodeInfo table tr:first-child {border-top: 1px solid black;}
.nodeInfo table th {
  text-align: right;
  background: #f39c12;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.nodeInfo table td {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.nodeInfo .closeButton {
  float: right;
  margin-top: 0px;
  background: red;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.nodeInfo table .newContent {color: black; font-weight: bold; background: #bdc3c7;}
.nodeInfo table .maliciousID {color: #ff00ae;}
